h6 {
  font-weight: 700;
  color: #736969;
}

.dashboard-wrapper {
  padding: 10px;
}



.dashboard-header {
  background: url('/assets/greetings-bg.png') center no-repeat;
  background-size: cover;
  background-color: #6C35D4;
  padding: 15px 125px 15px 15px;
  color: #fff;
  border-radius: 10px;
  box-shadow: none;

  ion-img {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: -3px;
  }
}

.dashboard-attendance {
  padding: 15px;
  color: #4B7C06;
  border-radius: 10px;
  box-shadow: none;

  h6 {
    font-weight: bold;
  }
}

.dashboard-schedule {
  margin: 40px 10px;

  .schedule-card {
    margin: 0;
    box-shadow: none;
    border-radius: 10px;
  }

  .btn-todo {
    font-size: 12px;
  }

  .btn-todo .button-native {
    --box-shadow: none !important;
  }

  .schedule-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll !important;
    overflow-y: hidden;
    width: max-content;
    width: 100%;
  }

  .schedule-card {
    width: 80%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 24px;
  }
}

.dashboard-due {
  margin: 40px 10px;

  .due-card {
    margin: 0;
    box-shadow: none;
    border-radius: 10px;
    width: 80%;
  }

  .btn-todo {
    font-size: 12px;
  }

  .btn-todo .button-native {
    --box-shadow: none !important;
  }

  .due-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll !important;
    overflow-y: hidden;
    width: max-content;
    width: 100%;
  }

  .due-card {
    width: 80%;
    max-width: 500px;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    margin-right: 24px;
  }

  .due-title-card {
    font-weight: 600;
    margin: 5px;
  }

  .due-date {
    float: left;
    margin-right: 25px;
  }

  .due-subject {
    color: #B1B3B5;
    display: list-item;
    float: left;
  }

  .due-img {
    width: 70px;
    background-color: #F9F6FD;
    padding: 12px;
    border-radius: 10px;
    margin: 0;
    vertical-align: middle;

  }

  .due-icon {
    vertical-align: text-top;
    font-size: 15px;
    padding-right: 5px;
  }
}

.dashboard-news {
  margin: 40px 10px;

  .news-card {
    margin: 20px 0;
    border-radius: 14px;
  }

  .news-desc {
    padding: 15px;
  }

  .news-desc p {
    font-weight: 700;
    color: #000;
    font-size: 16px;
    line-height: 22px;
  }

  .news-school {
    color: #9770E1;
    font-weight: 700;

    i {
      font-weight: 700;
    }
  }

  .news-icon {
    padding: 0 10px 0 0;
  }

  .news-time {
    float: right;
    color: #adadad;
  }
}

.todo-icon {
  width: 43px;
  height: 49px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.homework {
    background-color: var(--ion-color-primary-light);

    ion-icon {
      color: var(--ion-color-primary);
      font-size: 2em;
    }
  }

  &.excel {
    background-color: var(--ion-color-success-light);

    img {
      width: 28px;
    }
  }

}

.mini-date {
  height: 75px;
  width: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  text-align: center;
  color: var(--ion-color-primary);
  border-radius: 5px;
  .month {
    background-color: var(--ion-color-primary);
    color: #fff;
    width: 100%;
  }

  .day {
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding-top: 14px;
  }
}

ion-modal{
  ion-avatar{
    height: 40px;
    width: 40px;
  }
}